@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

body {
  font-family: "Nunito", sans-serif;
}

main {
  background-color: #9d4242;
  height: 85vh;
}

h1 {
  font-size: 4.5rem;
  font-weight: 700;
}

input[type="text"] {
  background-color: #ffffff;
  border-radius: 10px;
  border: none;
  height: 2.5rem;
  width: 20rem;
  padding: 1rem;
}

input[type="text"]:focus {
  outline: 1px solid black;
}

.nav-item:hover, .nav-item:focus {
  border-bottom: 2px solid black;
}

.Header {
  min-height: 15vh;
  background-color: #dcdcdc;
}

.Home {
  background: url("./images/vinyl.svg") no-repeat right;
  background-size: auto;
}

.HamburgerIcon span {
  display: block;
  margin: 0.70rem;
  height: 0.5rem;
  width: 3.75rem;
  background: #ffffff;
  border-radius: 0.5rem;
}

.HamburgerIcon:hover {
  cursor: pointer;
}

.subheading {
  font-size: 2rem;
  font-weight: 300;
}
