@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

body {
  font-family: "Nunito", sans-serif;
}

main {
  background-color: #9d4242;
  height: 85vh;
}

h1 {
  font-size: 4.5rem;
  font-weight: 700;
}

input[type="text"] {
  background-color: #ffffff;
  border-radius: 10px;
  border: none;
  height: 2.5rem;
  width: 20rem;
  padding: 1rem;
}

input[type="text"]:focus {
  outline: 1px solid black;
}

.Header {
  min-height: 15vh;
  background-color: #dcdcdc;
}

.nav-sidebar {
  background-color: #dcdcdc;
  transition: transform 0.4s ease-in-out;
  transform: translateX(100%);
  position: fixed;
  top: 15vh;
  right: 0;
}

#navbar-toggle:checked ~ .nav-sidebar {
  transform: translateX(0);
}

.nav-sidebar li {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.Home {
  background: url("./images/vinyl.svg") no-repeat right;
  background-size: contain;
}

.subheading {
  font-size: 2rem;
  font-weight: 300;
}

.table-header-row {
  background-color: #232323;
}
